body {
    background-color: black; 
    background-size: cover;
    color: white;
    font-weight: bold;
    text-align: justify;
    margin: 10px; 
    padding: 5px; 
    border: 1px solid #RRGGBB;
    position: relative; 
    display: block; 



}
