.cuadro:hover {
    transform: scale(1.2);
    background-color: #00ff00; /* Cambia el color de fondo a verde al pasar el mouse por encima */
    font-style: italic; /* Aplica un estilo de fuente cursiva */
    font-family: "cursive-font", cursive; /* Opcional: especifica una fuente cursiva específica */
 
}